<h1>This is aap.html</h1>
<br/>

<!-- {{people}} -->

<!-- {{title}} -->

<!-- <ul>
    <li *ngFor="let student of people">{{student.name}}</li>
</ul>

<br/>

<button (click)="onButtonClick()">click</button>

<br/>

<select>
    <option *ngFor="let student of people">{{student.course}}</option>
</select> -->

<div class="salary">{{salary | currency:"rs"}}</div>
<br/>
<div>
    {{today | date: "mm-dd-yyyy"}}
</div>
<br/>
<div>{{student | json}}</div>
<br/>
<div>{{"SAURAVI THAPA"|uppercase}}</div>

<br/>
<div>{{salary| number:"1.5"}}</div>