<br/>
<form>
    <div>
        <label>Name: </label>
        <input placeholder="name">
    </div>
    <br/>
    <div>
        <label>Language: </label>
        <input placeholder="language">
    </div>
    <br/>
    <div>
        <label>Genre: </label>
        <input placeholder="genre">
    </div>
    <br/>
    <div>
        <label>Present Year: </label>
        <input placeholder="presentYear">
    </div>
    <br/>
    <div>
        <label>Present Year: </label>
        <input placeholder="presentYear">
    </div>
    <br/>
    <button>Add</button>
</form>
