<br/>
<h3>Fill the form to post job</h3>

<form [formGroup]="addForm" (ngSubmit)="onAdd()">
    <div>
      <label>Title: </label>
      <input formControlName="title" placeholder="title">
    </div>

    <div>   
        <label>Salary: </label>
        <input formControlName="salary" placeholder="salary">
    </div>

    <div>
        <label>Experience: </label>
        <input formControlName="experience" placeholder="experience">
    </div>
    <div>
        <label>Description: </label>
        <input formControlName="description" placeholder="description">
    </div>
    <div>
        <label>Skill: </label>
        <input formControlName="skill" placeholder="skill">
    </div>
    <br/>
    <button type="submit">Add</button>
</form>